---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_154lI8HLIyFXpgjHJTqPeVAE
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_154lI9HLIyFXpgjHoOlnvcSr",
          "object": "charge",
          "created": 1417406165,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_154lI9HLIyFXpgjHoOlnvcSr/refunds",
            "data": []
          },
          "card": {
            "id": "card_154lI8HLIyFXpgjHCnczlbCL",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "kIv9CM13jyMhS5wt",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "balance_transaction": "txn_154lI9HLIyFXpgjH6Z3wlUnl",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {
            "stripe_report": "unavailable",
            "user_report": null
          },
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Mon, 01 Dec 2014 03:56:05 GMT
recorded_with: VCR 2.9.3
