---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/customers",
          "data": [
            {
              "object": "customer",
              "created": 1416605458,
              "id": "cus_5BmYs0X6iHBPRH",
              "livemode": false,
              "description": null,
              "email": "a@a.com",
              "delinquent": false,
              "metadata": {},
              "subscriptions": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/customers/cus_5BmYs0X6iHBPRH/subscriptions",
                "data": []
              },
              "discount": null,
              "account_balance": 0,
              "currency": null,
              "cards": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/customers/cus_5BmYs0X6iHBPRH/cards",
                "data": [
                  {
                    "id": "card_151OzTHLIyFXpgjHb3BTky80",
                    "object": "card",
                    "last4": "4242",
                    "brand": "Visa",
                    "funding": "credit",
                    "exp_month": 10,
                    "exp_year": 2017,
                    "fingerprint": "kIv9CM13jyMhS5wt",
                    "country": "US",
                    "name": "a@a.com",
                    "address_line1": null,
                    "address_line2": null,
                    "address_city": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_country": null,
                    "cvc_check": "pass",
                    "address_line1_check": null,
                    "address_zip_check": null,
                    "dynamic_last4": null,
                    "customer": "cus_5BmYs0X6iHBPRH"
                  }
                ]
              },
              "default_card": "card_151OzTHLIyFXpgjHb3BTky80"
            },
            {
              "object": "customer",
              "created": 1416604326,
              "id": "cus_5BmFKkGwbWMtNZ",
              "livemode": false,
              "description": null,
              "email": "a@a.com",
              "delinquent": false,
              "metadata": {},
              "subscriptions": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmYs0X6iHBPRH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmFKkGwbWMtNZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmEgEEJwUG7PK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmDxpbsO8iWlw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmCkrRMGv2qIe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmBxbmRQLRti6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5Bm9shMCkVyYvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
