---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_154mYyHLIyFXpgjH9NrZBzjE
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_154mYzHLIyFXpgjHYlDzHtNz"
          }
        }
  recorded_at: Mon, 01 Dec 2014 05:17:33 GMT
recorded_with: VCR 2.9.3
