---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_156ycgHLIyFXpgjHNtXJKDrm&plan=monthly%20membership&email=alice%40aaa.com
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1417934067,
          "id": "cus_5HXiceCR5pyyM9",
          "livemode": false,
          "description": null,
          "email": "alice@aaa.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5HXiceCR5pyyM9/subscriptions",
            "data": [
              {
                "id": "sub_5HXiWJuulzoBGz",
                "plan": {
                  "interval": "month",
                  "name": "MyFlix Monthly Subscription",
                  "created": 1417925751,
                  "amount": 999,
                  "currency": "usd",
                  "id": "monthly membership",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MYFLIX SUBSCR."
                },
                "object": "subscription",
                "start": 1417934067,
                "status": "active",
                "customer": "cus_5HXiceCR5pyyM9",
                "cancel_at_period_end": false,
                "current_period_start": 1417934067,
                "current_period_end": 1420612467,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5HXiceCR5pyyM9/cards",
            "data": [
              {
                "id": "card_156ycgHLIyFXpgjHBEsPhD9c",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "kIv9CM13jyMhS5wt",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5HXiceCR5pyyM9"
              }
            ]
          },
          "default_card": "card_156ycgHLIyFXpgjHBEsPhD9c"
        }
  recorded_at: Sun, 07 Dec 2014 06:34:27 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5HXiceCR5pyyM9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_5HXiceCR5pyyM9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "cus_5HXiceCR5pyyM9"
        }
  recorded_at: Sun, 07 Dec 2014 06:34:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmYs0X6iHBPRH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmFKkGwbWMtNZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmEgEEJwUG7PK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmDxpbsO8iWlw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmCkrRMGv2qIe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5BmBxbmRQLRti6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5Bm9shMCkVyYvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      st[...]
