---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_152E1BHLIyFXpgjHOK9p4ROO",
          "livemode": false,
          "created": 1416801605,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_152E1BHLIyFXpgjHJ8otsMhl",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "vxTW8vKJYZt5m0Fv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 24 Nov 2014 04:00:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=429&currency=usd&card=tok_152E1BHLIyFXpgjHOK9p4ROO
    headers:
      Authorization:
      - Bearer sk_test_baosbBV9JyrCUNS0GriM2Pr4
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-11-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_152E1BHLIyFXpgjHFihDzfC9"
          }
        }
  recorded_at: Mon, 24 Nov 2014 04:00:04 GMT
recorded_with: VCR 2.9.3
