<!DOCTYPE html>
<html>
<body>
  <h2>Welcome to MyFlix!</h2>
  <p>We are so glad that you've joined us, <%= @user.fullname %>. </p>
  <br>
  <h3>Some helpful tips</h3>
  <ul>
    <li>Log in here: <%= link_to "Sign In", sign_in_url %></li>
    <li>Access your video queue here: <%= link_to "My Queue", my_queue_url %></li>
  </ul>
</body>
</html>
