<!DOCTYPE html>
<html>
<body>
  <h2>Your password is ready to reset</h2>
  <p>Click <%= link_to "here to reset your password", reset_password_url(token: @user.token) %>.</p>
  <br>
</body>
</html>
